# Check for EXTREME load, default do warn if it is a bit high
# This is designed to go CRITICAL alert if its a really huge problem likely signifying hung processes
# Warning when load is high and calculations are probably slowing down due to inefficiant usage
command[check_veryhigh_load]=/usr/lib64/nagios/plugins/check_load -r -w 1.3,1.08,1.05 -c 10,5,5

# This  alternative designed to only alertat all  if its a really huge problem likely signifying hung processes
# Uncomment this and comment out the above to turn down the alerting

#command[check_veryhigh_load]=/usr/lib64/nagios/plugins/check_load -r -w 10.0,5.0,5.0 -c 10.1,5.1,5.1
